analysis/__pycache__
analysis/migrations
analysis/__init__.py

api/__pycache__
api/migrations
api/__init__.py

finAI/__pycache__
finAI/__init__.py

main/__pycache__
main/migrations
main/__init__.py

restapp/__pycache__
restapp/migrations
restapp/__init__.py

trading_simulator/__pycache__
trading_simulator/migrations
trading_simulator/__init__.py

MarketWatch/__pycache__
MarketWatch/migrations
MarketWatch/__init__.py