{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
<link rel="stylesheet" href="{% static 'styles/dataupdate.css' %}">
</style>
{% endblock %}  

{% block content %}
    <!-- <h1>Data Update</h1> -->
   <main>
        <!--MDB Tables-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within table</h2>
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
                                <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
            <div class="card">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="py-3 text-center font-bold font-up blue-text">Table with pagination</h2>
                        </div>
                        <!-- Grid column -->
                    </div>

                    <div class="text-center darken-grey-text mb-4">
                        <h3 class="font-bold mb-3">Here you can find more Tables:</h3>
                        <a class="btn btn-secondary" href="personallist/">PersonalList</a>
                    </div>
                    <!-- Grid row -->
                    <!--Table-->
                    <table class="table table-hover table-responsive mb-0" id="ShowTable">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th scope="row">#</th>
                                <th class="th-lg"><a>股票代碼</a></th>
                                <th class="th-lg"><a>股票名稱</a></th>
                                <th class="th-lg"><a href="">開盤價</a></th>
                                <th class="th-lg"><a href="">最高價</a></th>
                                <th class="th-lg"><a href="">最低價</a></th>
                                <!-- <th class="th-lg"><a href="">收盤價</a></th> -->
                                <th class="th-lg"><a href="">漲跌元</a></th>
                                <th class="th-lg"><a href="">總成交金額</a></th>
                                <!-- <th class="th-lg"><a href="">成交金額</a></th> -->
                                
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <!-- {% for stock in V_MarketLogD %}
                            <tr>
                                <td></td>
                                <td>{{stock.stocktag}}</td>
                                {% for stock_ in V_StockName %}
                                    {% if stock_.stocktag == stock.stocktag %}
                                        <td>{{stock_.stockname}}</td>
                                    {% endif %}
                                {%endfor%}
                                <td>{{stock.open}}</td>
                                <td>{{stock.high}}</td>
                                <td>{{stock.low}}</td>
                                <td>{{stock.change}}</td>
                                <td>{{stock.capacity}}</td>
                            {% endfor%} -->
                            </tr>
                           
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Bottom Table UI-->
                    <div class="d-flex justify-content-center">
                        <!--Pagination -->
                        <nav class="my-4 pt-2">
                            <ul class="pagination pagination-circle pg-blue mb-0">
                                <!--First-->
                                <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>
                                <!--Arrow left-->
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                </li>
                                <!--Numbers-->
                                <li class="page-item active"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item"><a class="page-link">4</a></li>
                                <li class="page-item"><a class="page-link">5</a></li>
                                <!--Arrow right-->
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                </li>
                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>
                            </ul>
                        </nav>
                        <!--/Pagination -->
                    </div>
                    <!--Bottom Table UI-->
                </div>
            </div>
          
            <hr class="my-4">
          
            <div class="text-center darken-grey-text mb-4">
                <h3 class="font-bold mb-3">Here you can find more Tables:</h3>
                <a class="btn btn-danger" href="https://mdbootstrap.com/content/tables/" target="_blank">Bootstrap Tables</a>
            </div>

        </div>
        <!--MDB Tables-->
      <div>
        <h2>{{stocks}}</h2>
      </div>

      <script>
        var numGroups = [];
        
        // $.ajax({
        //     'type':'GET',
        //     'url':'/restapp/WatchList/',
        //     'data':{
        //         group:1
        //     }
        // }).done(function(msg){
        //     console.log(msg)
        // })

      $.ajax({
            'type':'GET',
            'url':'/restapp/WatchList/'
        }).done(function(datas){
            console.log(datas)
            $.each(datas, function(index, data){
                if(!(numGroups.includes(data.group))) {
                    numGroups.push(data.group)
                }
            })
            console.log(numGroups);
            for (G_Idx =0; G_Idx<numGroups.length; G_Idx++)
            {
            var option = $('<option></option>')
            option.html(numGroups[G_Idx]);
            $('#list_group').append(option);
            }
    
         $.ajax({
            'type':'GET',
            'url':'/restapp/MarketLogD/',
             }).done(function(M_LogD){
      
               console.log(M_LogD)
                       
                  var tbody =  $('#ShowTable>tbody');

                  var docFrag = $(document.createDocumentFragment())

                $.each(M_LogD,function(idx, S_LogD){
                    
                   var cell1= $('<td></td>')
                   var cell2= $('<td></td>').text(S_LogD.stocktag)   
                   var cell3= $('<td></td>').text(S_LogD.stockname)
                   var cell4 = $('<td></td>').text(S_LogD.open)
                   var cell5 = $('<td></td>').text(S_LogD.high)
                   var cell6 = $('<td></td>').text(S_LogD.low)
                   var cell7 = $('<td></td>').text(S_LogD.change)
                   var cell8 = $('<td></td>').text(S_LogD.turnover)
                   var row = $('<tr></tr>').append([cell1,cell2,cell3,cell4,cell5,cell6,cell7,cell8])
    
    docFrag.append(row)

  
})
tbody.html(docFrag) 
         }); 

        });

        </script> 
    </main>
{% endblock %}

{% block script %}

{% endblock %} 
