<footer class="section footer-classic context-dark bg-dark">
    <div class="container" style="padding: 50px; color:white">
        <div class="row">
        <div class="col-md-4 col-xl-5">
            <div class="pr-xl-4">
            <p class="rights"><span>© </span><span class="copyright-year">2018 </span><span></span><span>finAI</span><span>. </span><span>All Rights Reserved.</span></p>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Contact</h5>
            <dl class="contact-list">
            <dt>Address:</dt>
            <dd>台北市大安區復興南路一段390號3樓</dd>
            </dl>
            <dl class="contact-list">
            <dt>Email:</dt>
            <dd><a href="mailto:#">aien03@gmail.com</a></dd>
            </dl>
            <dl class="contact-list">
            <dt>Tel:</dt>
            <dd>0910666888
            </dd>
            </dl>
        </div>
        <div class="col-md-4 col-xl-3">
            <h5>Links</h5>
            <ul class="nav flex-column bg-dark">
                <li class="nav-item">
                        <a class="nav-link" href="/trading_simulator/">Trading Simulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">[Link]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">[Link]</a>
                </li>
            </ul>
        </div>
    </div>
</footer>